{% extends 'base.html.twig' %}

{% block title %}Homepage - book and author list{% endblock %}

{% block body %}
    <section class="section">
        <div class="container content">
            {% for message in app.flashes('notice') %}
                <div class="message is-info">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            <h1 class="title">All Authors</h1>
            <h6 class="subtitle"><i>(Displaying up to 100 results. Hover for edit/delete actions. Deleting an Author will also delete their Books.)</i></h6>
            <a class="button is-small is-primary" href="{{ url('admin_manage_author', { action: 'create' }) }}">Create Author</a>
            {% if authors is empty %}
                <p>No authors created yet. Why not <a href="{{ url('admin_manage_author', { action: 'create' }) }}">create one</a>?</p>
            {% endif %}

            <ul class="item-list">
                {% for author in authors %}
                    <li>
                        <span>{{ author }}</span>
                        <span class="manage-actions">
                            <a class="has-text-grey" href="{{ url('admin_manage_author', { action: 'edit', id: author.id }) }}">(edit)</a>
                            <a class="has-text-danger" href="{{ url('admin_manage_author', { action: 'delete', id: author.id }) }}" onclick="return confirm('Are you sure?')">(delete)</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container content">
            <h1 class="title">All Books</h1>
            <h6 class="subtitle"><i>(Displaying up to 100 results.)</i></h6>
            <a class="button is-small is-primary" href="{{ url('admin_manage_book', { action: 'create' }) }}">Create Book</a>

            {% if authors is empty and books is empty %}<p>No books. Please create at least one <a href="{{ url('admin_manage_author', { action: 'create' }) }}">author</a> before creating a book.</p>{% endif %}
            {% if authors and books is empty %}<p>No books created yet. Why not <a href="{{ url('admin_manage_book', { action: 'create' }) }}">create one</a>?</p>{% endif %}

            <hr>
            <div class="item-list columns">
                {% for book in books %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            {% if book.coverPicture %}
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{{ asset(book_cover_public_path ~ '/' ~ book.coverPicture) }}">
                                    </figure>
                                </div>
                            {% endif %}
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{ book.title }}</p>
                                        <p class="subtitle is-6">{{ book.author }}</p>
                                        <p class="subtitle is-6">ISBN: {{ book.isbn }}</p>
                                        <p>
                                            {% for tag in book.tags(true) if book.tags(true) %}
                                                <span class="tag">{{ tag }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                <div class="content">
                                    <a class="button is-small is-info is-outlined" href="{{ url('admin_manage_book', { action: 'edit', id: book.id }) }}">Edit</a>
                                    <a class="button is-small is-danger is-outlined" href="{{ url('admin_manage_book', { action: 'delete', id: book.id }) }}" onclick="return confirm('Are you sure?')">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .item-list .manage-actions {
            display: none;
        }
        .item-list li:hover .manage-actions {
            display: inline;
        }
    </style>
{% endblock %}
