{% extends 'base.html.twig' %}

{% block title %}{{ action|capitalize }} Author{% endblock %}

{% block body %}
    <section class="section">
        <div class="container content">
            <a class="button is-small is-info" href="{{ url('home') }}">Back</a>
            <h1 class="title">{{ action|capitalize }} Author</h1>
            <div class="columns">
                <div class="column is-half">
                    {% for message in app.flashes('error') %}
                        <div class="message is-danger">
                            <div class="message-body">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
