{% extends 'base.html.twig' %}

{% block title %}{{ action|capitalize }} Book{% endblock %}

{% block body %}
    <section class="section">
        <div class="container content">
            <a class="button is-small is-info" href="{{ url('home') }}">Back</a>
            <h1 class="title">{{ action|capitalize }} Book</h1>
            <div class="columns">
                <div class="column is-half">
                    {% for message in app.flashes('error') %}
                        <div class="message is-danger">
                            <div class="message-body">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {% if form.coverPicture.vars.data %}
                        <img src="{{ asset(book_cover_public_path ~ '/' ~ form.coverPicture.vars.data.filename) }}" style="max-height: 200px" />
                    {% endif %}
                    {{ form_row(form.coverPicture) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
